Repository Team-Frolog/Frolog_Web, pull requests merged in 2025-03, with the labels that each got.

#148 [Fix/#147]: NavBar 상태관리 버그 수정, 스크롤 유지 기능 추가 등
  src/app/(default)/feed/[contentId]/comments/page.tsx
  src/app/(main)/(well)/explore/page.tsx
  src/app/(main)/(well)/page.tsx
  src/app/(main)/feed/page.tsx
  src/app/(store)/store/page.tsx
  src/app/(user)/[userId]/profile/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/layout.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/memo/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/review/page.tsx
  src/components/Fallback/Skeleton/Book/BookInfoSkeleton.tsx
  src/components/Fallback/Skeleton/Book/BookListItemSkeleton.tsx
  src/components/Fallback/Skeleton/Comment/CommentListSkeleton.tsx
  src/components/Fallback/Skeleton/Comment/CommentSkeleton.tsx
  src/components/Fallback/Skeleton/Feed/FeedListSkeleton.tsx
  src/components/Fallback/Skeleton/Feed/FeedSkeleton.tsx
  src/components/Fallback/Skeleton/Memo/MemoListSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/FollowListSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/ProfileHeaderSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/ProfileSkeleton.tsx
  src/components/Fallback/Skeleton/Review/ReviewListSkeleton.tsx
  src/components/Fallback/Skeleton/Search/SearchResultSkeleton.tsx
  src/components/Fallback/Skeleton/Store/FrogSelectorSkeleton.tsx
  src/components/Fallback/Skeleton/Store/StoreItemSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellItemSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellItemsSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellListSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellSearchItemListSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellSearchItemSkeleton.tsx
  src/components/Gesture/ScrollToTop.tsx
  src/components/Header/ProfileHeader/ProfileHeader.tsx
  src/components/NavigationBar/NavigationBar.tsx
  src/features/Book/components/BottomSheet/WellSelectSheet.tsx
  src/features/Feed/components/FeedList/FeedList.tsx
  src/features/Feed/components/Feeds.tsx
  src/features/Memo/components/MemoList/MemoList.tsx
  src/features/Profile/components/FollowList/FollowList.tsx
  src/features/Profile/components/FollowList/Followers.tsx
  src/features/Profile/components/FollowList/Followings.tsx
  src/features/Search/components/SearchResult.tsx
  src/features/Well/components/Well/WellDetailPage.tsx
  src/features/Well/components/Well/WellItem/WellItemList.tsx
  src/features/Well/components/WellForm/WellForm.tsx
  src/features/Well/components/WellList/WellList.tsx
  src/features/Well/components/WellSearch/WellExploreList.tsx
  src/features/Well/components/WellSearch/WellSearchItem.tsx
  src/features/Well/components/WellSearch/WellSearchResult.tsx
  src/features/Well/hooks/useExploreWells.ts
  src/hooks/gesture/useScrollToTop.ts
  src/store/userActionStore.ts
  src/stories/features/Well/WellSearch/WellSearchItem.stories.tsx
Labels: fix, feat

#149 [Release]: NavBar 상태관리 버그 수정 및 기타 작업
  src/app/(default)/feed/[contentId]/comments/page.tsx
  src/app/(main)/(well)/explore/page.tsx
  src/app/(main)/(well)/page.tsx
  src/app/(main)/feed/page.tsx
  src/app/(store)/store/page.tsx
  src/app/(user)/[userId]/profile/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/layout.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/memo/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/review/page.tsx
  src/components/Fallback/Skeleton/Book/BookInfoSkeleton.tsx
  src/components/Fallback/Skeleton/Book/BookListItemSkeleton.tsx
  src/components/Fallback/Skeleton/Comment/CommentListSkeleton.tsx
  src/components/Fallback/Skeleton/Comment/CommentSkeleton.tsx
  src/components/Fallback/Skeleton/Feed/FeedListSkeleton.tsx
  src/components/Fallback/Skeleton/Feed/FeedSkeleton.tsx
  src/components/Fallback/Skeleton/Memo/MemoListSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/FollowListSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/ProfileHeaderSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/ProfileSkeleton.tsx
  src/components/Fallback/Skeleton/Review/ReviewListSkeleton.tsx
  src/components/Fallback/Skeleton/Search/SearchResultSkeleton.tsx
  src/components/Fallback/Skeleton/Store/FrogSelectorSkeleton.tsx
  src/components/Fallback/Skeleton/Store/StoreItemSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellItemSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellItemsSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellListSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellSearchItemListSkeleton.tsx
  src/components/Fallback/Skeleton/Well/WellSearchItemSkeleton.tsx
  src/components/Gesture/ScrollToTop.tsx
  src/components/Header/ProfileHeader/ProfileHeader.tsx
  src/components/NavigationBar/NavigationBar.tsx
  src/features/Book/components/BottomSheet/WellSelectSheet.tsx
  src/features/Feed/components/FeedList/FeedList.tsx
  src/features/Feed/components/Feeds.tsx
  src/features/Memo/components/MemoList/MemoList.tsx
  src/features/Profile/components/FollowList/FollowList.tsx
  src/features/Profile/components/FollowList/Followers.tsx
  src/features/Profile/components/FollowList/Followings.tsx
  src/features/Search/components/SearchResult.tsx
  src/features/Well/components/Well/WellDetailPage.tsx
  src/features/Well/components/Well/WellItem/WellItemList.tsx
  src/features/Well/components/WellForm/WellForm.tsx
  src/features/Well/components/WellList/WellList.tsx
  src/features/Well/components/WellSearch/WellExploreList.tsx
  src/features/Well/components/WellSearch/WellSearchItem.tsx
  src/features/Well/components/WellSearch/WellSearchResult.tsx
  src/features/Well/hooks/useExploreWells.ts
  src/hooks/gesture/useScrollToTop.ts
  src/store/userActionStore.ts
  src/stories/features/Well/WellSearch/WellSearchItem.stories.tsx
Labels: fix, release

#153 [Feat/#150]: 프로필 피드 구현
  public/icons/index.ts
  public/icons/profile/icon-setting-mono.svg
  src/app/(user)/[userId]/profile/page.tsx
  src/app/(user)/[userId]/profile/setting/page.tsx
  src/components/Fallback/Skeleton/Profile/ProfileFeedListSkeleton.tsx
  src/components/Fallback/Skeleton/Profile/ProfileFeedSkeleton.tsx
  src/components/Feed/FeedItemInfo.tsx
  src/features/Feed/components/FeedList/BookInfo.tsx
  src/features/Feed/components/FeedList/FeedBar.tsx
  src/features/Feed/components/FeedList/FeedItem.tsx
  src/features/Memo/api/memo.api.ts
  src/features/Memo/components/MemoList/MemoList.tsx
  src/features/Memo/hooks/useMemos.ts
  src/features/Profile/components/Feed/ProfileFeed.tsx
  src/features/Profile/components/Feed/ProfileFeedItem.tsx
  src/features/Profile/components/Feed/ProfileFeedList.tsx
  src/features/Profile/components/Feed/ProfileMemoList.tsx
  src/features/Profile/components/Feed/ProfileReviewList.tsx
  src/features/Profile/components/FollowList/FollowList.tsx
  src/features/Profile/components/Profile/Profile.tsx
  src/features/Profile/components/Profile/ProfilePageHeader.tsx
  src/features/Profile/hooks/useUserReviews.ts
  src/features/Profile/index.ts
  src/hooks/useTab.ts
  src/store/userActionStore.ts
  src/utils/getPath.ts
Labels: feat

#156 [Refactor/#155]: dynamic import 적용
  src/app/(default)/frolog-test/page.tsx
  src/app/(profile-title)/how-to-install/page.tsx
  src/app/(profile-title)/quit/page.tsx
  src/app/(profile-title)/terms/page.tsx
  src/app/(user)/[userId]/profile/edit/page.tsx
  src/app/(user)/[userId]/profile/follows/page.tsx
  src/app/(user)/[userId]/profile/setting/page.tsx
  src/features/Profile/components/FollowList/FollowList.tsx
  src/modules/BottomSheet/index.tsx
Labels: refactor

#157 [Feat/#151]: 우물 삭제 기능 구현
  public/sw.js
  public/sw.js.map
  src/app/error.tsx
  src/data/ui/bottomSheet.tsx
  src/features/Well/api/well.api.ts
  src/features/Well/components/WellForm/WellForm.tsx
  src/features/Well/hooks/useWellForm.ts
  src/modules/BottomSheet/BottomSheet.tsx
Labels: API, feat

#159 [Chore/#158]: meta tag 추가 설정
  src/app/(default)/feed/[contentId]/comments/page.tsx
  src/app/(default)/frolog-test/page.tsx
  src/app/(default)/frolog-test/result/[id]/page.tsx
  src/app/(default)/join/finish/page.tsx
  src/app/(default)/search/page.tsx
  src/app/(default)/unsubscribe/page.tsx
  src/app/(default)/well-search/page.tsx
  src/app/(form)/find-password/page.tsx
  src/app/(form)/join/page.tsx
  src/app/(form)/login/page.tsx
  src/app/(main)/(detail)/memo/[memoId]/page.tsx
  src/app/(main)/(detail)/review/[reviewId]/page.tsx
  src/app/(main)/(well)/explore/page.tsx
  src/app/(main)/book/[id]/page.tsx
  src/app/(main)/feed/page.tsx
  src/app/(main)/search-home/page.tsx
  src/app/(profile-title)/how-to-install/page.tsx
  src/app/(profile-title)/quit/page.tsx
  src/app/(profile-title)/terms/[type]/page.tsx
  src/app/(profile-title)/terms/page.tsx
  src/app/(store)/mission/page.tsx
  src/app/(store)/store/page.tsx
  src/app/(user)/[userId]/profile/edit/page.tsx
  src/app/(user)/[userId]/profile/follows/page.tsx
  src/app/(user)/[userId]/profile/page.tsx
  src/app/(user)/[userId]/profile/setting/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(detail)/memo/[memoId]/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(detail)/review/[reviewId]/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/memo/page.tsx
  src/app/(user)/[userId]/well/[wellId]/book/[bookId]/(list)/review/page.tsx
  src/app/(user)/[userId]/well/[wellId]/edit/page.tsx
  src/app/(user)/[userId]/well/[wellId]/new-memo/[bookId]/page.tsx
  src/app/(user)/[userId]/well/[wellId]/new-review/[bookId]/page.tsx
  src/app/(user)/[userId]/well/[wellId]/page.tsx
  src/app/(user)/[userId]/well/create/page.tsx
  src/components/NavigationBar/NavigationBar.tsx
Labels: chore
